
.fullwidth{
	width:100%;
}
.halfwidth{
	width:50%;
}
.widthshipping{
    width:100px;    
}
.nomargin {
	margin-bottom: 0px !important;
}
.topmargin{
    margin-top: 30px;    
}
.toppadding{
	padding-top: 30px;
}
.center{
    text-align: center;
}

#frontpage:hover {
	border:1px solid pink;
	opacity: 1;
}
.header-text {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 30vh;
    width: 96vw;
    font-size: 5vw;
    color: #fff;
    z-index: 2;
    letter-spacing: 1em;
    word-spacing: 0.1em !important;
    line-height: 80%;
    opacity: 0;
    padding-left: 10vw;
}


.lookbookimg {
    margin:30px 0px 30px 0px;
    align-self: center !important;
}




/*header--------*/
header{
	text-align:center;
}
/*----------header*/

/*footer-----------*/
footer{	
	text-align: center ;
	float: none ; 	
	font-family: 'Playfair Display', serif ;
	font-size: 1.25em ;
}

.footer_social { 
	padding: 10px 0px 10px; 
	text-align: center; 	
}

.footer_social img { float: none; margin: 0 6px; }

footer a{
	color:#000 ; 	
	font-weight: normal !important;
}

div a .mailto{
	margin-bottom: : 20px !important; 
	
}
/*---------footer*/

/*side menu*/
.jtype{
    background-color: #E7E7E7 !important;    
}
.jewellery li:hover{
    background-color: #F8F8F8 !important;   
}
.jewellery li{
 text-align: center;
}

/*side menu end*/

.products img {
	
	margin-top: 10px;
	
}

/*personal information*/
.contact_form label {
	    width:150px;
	    margin:5px 0px 5px 0px;
	    display:inline-block;
	    float:left;
	    padding:5px;
	}

.contact_form input {
	width:200px;
	border: 2px solid #E7E7E7;
    padding:5px 8px;
    margin:3px 0px 3px 0px;
}

.contact_form select {

    padding:5px 8px;
    margin:3px 0px 3px 0px;
}

.contact_form input:required {
   background:url('http://i.imgur.com/7pIN7wz.png') no-repeat right top;
}

.contact_form input:required:valid {
   background:url('http://i.imgur.com/BJolppS.png') no-repeat right top;
}

#colorChooser {

    padding:5px 8px;
    margin:8px 0px 8px 0px;
}

#country2{
    width:200px;
}

#db{
    
}

#genders {
    width:auto;
    border:none;
    margin-left: 100px;
}

#genders input {
    width:20px;
    float:left;
    margin: 0 10px 0 40px;
    
}

#genders label {
    width:auto;
    margin:auto;
    padding: 0px 0px 10px 0px;
    float:left;    
}

input:invalid {
    background-color: pink;
    
}
input:hover {
  border-color: silver;  
}

.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
	}

.form_hint::before {
	content: "\25C0"; /* left point triangle in escaped unicode */
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
	}

.contact_form input:focus + .form_hint {display: inline;}
/*personal information end*/