
.fullwidth{
	width:100%;
}
.halfwidth{
	width:50%;
}
.nomargin {
	margin-bottom: 0px !important;
}
.topmargin{
    margin-top: 30px;    
}
.center{
    text-align: center;
}

#frontpage:hover {
	border:1px solid pink;
	opacity: 1;
}
.header-text {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 30vh;
    width: 96vw;
    font-size: 5vw;
    color: #fff;
    z-index: 2;
    letter-spacing: 1em;
    word-spacing: 0.1em !important;
    line-height: 80%;
    opacity: 0;
    padding-left: 10vw;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display'); 
.lookbookimg {
    margin:30px 0px 30px 0px;
    align-self: center !important;
}

.marginleft{
    margin-left: 20%;
}


/*header--------*/
header{
	text-align:center;
}
/*----------header*/

/*footer-----------*/
footer{	
	text-align: center ;
	float: none ; 	
	font-family: 'Playfair Display', serif ;
	font-size: 1.25em ;
}

.footer_social { 
	padding: 10px 0px 10px; 
	text-align: center; 	
}

.footer_social img { float: none; margin: 0 6px; }

footer a{
	color:#000 ; 	
	font-weight: normal !important;
}

div a .mailto{
	margin-bottom: : 20px !important; 
	
}
/*---------footer*/

/*side menu*/
.jtype{
    background-color: #E7E7E7 !important;
    
}
.jewellery li:hover{
    background-color: #F8F8F8 !important;   
}
.jewellery li{
 text-align: center;

}

/*
#panel,#panel2,#panel3,#panel4 :hover{    
	background-color: white;
    
}	*/


/*side menu end*/

.products img {
	
	margin-top: 10px;
	
}

#personalinfo {
    text-align: center;
    
}